resources/notepad/notepad.dtd

<!DOCTYPE notepad [

        <!ELEMENT notepad (note+)>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT tel (#PCDATA)>
        <!ELEMENT url (#PCDATA)>
        <!ELEMENT note (name, tel, url, address)>
        <!ATTLIST note login CDATA #REQUIRED>
        <!ELEMENT address (street, city, country)>
        <!ELEMENT street (#PCDATA)>
        <!ELEMENT city (#PCDATA)>
        <!ELEMENT country (#PCDATA)>

]>